<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>palladin Wildlife Reserve</title>
  <meta name ="viewport" content ="width=device-width", initial scale =1"/>
  <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel='stylesheet' href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <link rel='stylesheet' href='/app.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav nav-pills navbar-left pull-left">
        <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      </ul>
      <ul class="nav navbar-nav nav-pills navbar-right pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Animals <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/animals">View all</a></li>
            <li><a href="/animals/search">Search</a>
            <a href="/animals/new">Add animal</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Locations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/locations">View all</a></li>
              <li><a href="/locations/new">Add location</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Rangers <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/rangers">View all</a></li>
              <li><a href="/rangers/search">Search</a></li>
              <li><a href="/rangers/new">Add ranger</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Sightings <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/sightings/new">Add sighting</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      #parse($template)
    </div>


      <script src="/scripts.js"></script>
  </body>
  </html>
